<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create New Item</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="createItemForm" (ngSubmit)="onSubmit()">

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" formControlName="name" placeholder="Name" required
                                            #name>
                                        <mat-error *ngIf="createItemForm.get('name').invalid && createItemForm.get('name').touched">
                                            <div *ngIf="createItemForm.get('name').errors['required']">Required field</div>
                                            <div *ngIf="createItemForm.get('name').errors['maxLength']">Cannot be
                                                longer than 100 char</div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <div class="example-full-width">
                                        <app-date-picker id="FilingDatePicker" name="filingDate" [(ngModel)]="filingDate"
                                            [ngModelOptions]="{standalone: true}" [allowFutureDates]="false" [required]="false"
                                            label="Filing date" (dateHasError)='onDatePickerHasError($event)' (newDate)='onDatepikerDate($event)'
                                            #x="ngModel">
                                        </app-date-picker>
                                    </div>
                                </div>
                                <!-- DESCRIPTION -->
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput formControlName="description" placeholder="Description"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <!-- AMOUNT -->
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="number" formControlName="amount" placeholder="Amount">
                                        <mat-error *ngIf="createItemForm.get('amount').invalid && createItemForm.get('amount').touched">
                                            <div *ngIf="createItemForm.get('amount').errors['max']">No more than 6
                                                digits</div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <!-- is Private -->
                                    <div class="example-full-width">
                                        <mat-checkbox class="example-margin" [(ngModel)]="isPrivate" [ngModelOptions]="{standalone: true}"
                                            (change)="onCheckboxChange($event)">
                                            Private
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button [disabled]="!createItemForm.valid || datePickerError" type="submit"
                                class="btn btn-danger pull-right">Create</button>
                            <button mat-raised-button (click)="cancel()" class="btn btn-default pull-right">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>